In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("names/yob1990.txt", names=["Name","Gender","Count"])
df

           Name Gender  Count
0       Jessica      F  46475
1        Ashley      F  45560
2      Brittany      F  36537
3        Amanda      F  34408
4      Samantha      F  25867
...         ...    ...    ...
24711      Zeus      M      5
24712     Ziyad      M      5
24713     Zoilo      M      5
24714     Zoran      M      5
24715       Zvi      M      5

[24716 rows x 3 columns]

In [110]:
def count_dynamics(years):
    fem_total_count = list()
    men_total_count =list()
    for year in years:
        df = pd.read_csv('yob{}.txt'.format(year), names=["Name","Gender","Count"])
        df["Year"] = year
        fem = df[(df["Year"]==year) & (df["Gender"]=="F")].sum()["Count"] 
        fem_total_count.append(fem)
        men = df[(df["Year"]==year) & (df["Gender"]=="M")].sum() ["Count"]
        men_total_count.append(men)
    dict_of_count = {'F': fem_total_count, 'M': men_total_count}
    print(dict_of_count)

In [111]:
count_dynamics([1880, 1950, 2018])

{'F': [90994, 1713065, 1686961], 'M': [110490, 1790437, 1800392]}